/* ******************* */
/*        Grid         */
/* ******************* */
* {
    padding: 0px;
    margin: 0px;
}

body {
    position: relative;
    overflow-x: hidden;
}

#body {
    overflow: hidden;
}


// body .container{
//     border:5px solid blue;
// }
// body .container > *{
//     border:5px solid black;
// }
// .weather-data {
//     border: 5px solid red;
// }

// .black-color {
//     border: 5px solid yellow;
// }

// .weather-cards {
//     border: 5px solid green;
// }

