div:where(.swal2-container) div:where(.swal2-popup) {
    background-color: $white !important;
}
div:where(.swal2-container) h2:where(.swal2-title){
    font-size: 1.45rem !important;
}
div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
    background: linear-gradient(to bottom, $mc, $mc2) !important;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    // transition: .3s all linear;
    
    box-shadow: none !important;
    outline: 0px !important;

    &:hover {
        @extend .hvr-wobble-skew;
    }
}